.App1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(to right, #4ca1af, #c4e0e5);

  }
  .App1 h1{
    color: #FFDD40;
  }
  .form-container {
    background-color: #f9f9f9; /* Background color with glossy look */
    padding: 40px;
    border-radius: 10px;
    background-color:#444857;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.381);
    width: 400px; /* Increased width */
  }
  
  .row {
    display: flex;
    justify-content: space-between; /* Separate Sign Up and Sign In buttons */
    margin-bottom: 20px; /* Add margin to separate from the form */
  }
  
  .pointer {
    cursor: pointer;
    color: #FFDD40;
  }
  
  .activeColor {
    color: #007bff; /* Adjusted color for active state */
  }
  
  input[name="email"],
  input[name="password"],
  .btn3 {
    width: 100%; /* Take full width of the container */
    padding: 10px;
    margin-bottom: 20px;
    border:none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Adjust font family */
  }
  
  .btn3{
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer;
    font-weight: bold; /* Adjust font weight */
    font-size: 16px; /* Adjust font size */
  }
  
  button:hover {
    background-color: #0056b3; /* Adjusted color on hover */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Arial Black", sans-serif; /* Adjust font family */
  }
  
  .error {
    color: red; /* Error message color */
  }
  