.cart_card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 2px 2px #d5d5d5;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}