
.card_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    
}

.card_container>button{
    padding: 0.5rem 3rem;
    justify-self: end;
    background-color: #ac0606;
    color: #ffffff;
    cursor: pointer;
}