#expense_container, #expense_container>h2{
    margin-bottom: 1rem;
    color: aliceblue;
    margin-left: 1rem;
    margin-right: 2rem;
    
}
#expense_container>h2{
    color:blanchedalmond;
    text-transform: uppercase;
    text-decoration: underline;
    margin-left: 38%;
}