#container{
    width: 50%;
    height: 50%;
    color: whitesmoke;
    margin:12% 16%;
    border:3px solid rgba(165, 42, 42, 0.777)
    
    
}
#container>h1{
    color: aquamarine;
    margin-left: 25%;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 3rem;
    
}